header
{
    background-color: rgb(52, 58, 64);
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

.container
{
    max-width: 100%;
}

.col-md-8, .col-md-4
{
    padding-top: 5px;
}

body
{
    line-height: 24px;
}

#currentWeather
{
    padding: 25px;
}

h2
{
    margin-bottom: 20px;
}

#uv
{
    padding: 5px;
    width: 50px;
    border-radius: 5px;
    color: whitesmoke;
    outline: none;
    border: none;
}